html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: center;
}
body {
  background-color: #377375;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

p:first-of-type {
  margin-top: 100px;
}

p {
  width: 95%;
  margin: 7px 0px 7px 0px;
  background-color: #ddefe3;
  font-family: "Work Sans", sans-serif;
  color: #2a4843;
  font-size: 14px;
}
