header {
  position: fixed;
  height: 90px;
  margin-left: 2.5%;
  width: 95%;

  background-color: #ddefe3;
  opacity: 0.93;
  color: #2a4843;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
}
