nav {
  position: relative;
  top: 18px;
  width: 100px;
  cursor: pointer;
  align-content: center;
  font-family: "Work Sans", sans-serif;

  &:hover > ul li {
    display: block;
    background-color: $bleed;
    opacity: 0.9;
  }
}

li {
  display: none;
  float: left;
  margin-left: 10px;
  width: 100px;
  height: 25px;
}
